<% provide(:title, "About" ) %>
<h1>About Blog 24</h1>
<p>E cielo e terra si mostrò qual era:</p>

<p>la terra ansante, livida, in sussulto;</p>

<p>il cielo ingombro, tragico, disfatto:</p>

<p>bianca bianca nel tacito tumulto</p>

<p>una casa apparì sparì d'un tratto;</p>

<p>come un occhio, che, largo, esterrefatto,</p>

<p>s'aprì si chiuse, nella notte nera.</p>