<h1>Welcome to Blog 24 ❤️</h1>
<p>This is the home page for a very interesting blog. Stay tuned for more!</p>
<p>Sign up for our newsletter to stay up to date on all the interesting things!</p>
<%= link_to 'Sign up now!' , '#' , class: 'btn-primary mx-auto mt-6 block max-w-fit' %>

<%= link_to image_tag('https://images.unsplash.com/photo-1697933828774-7f8c651da79f?q=80&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', alt: "Sunset", class: 'w-9/12 ml-auto mt-8'), 'https://www.google.com/' %>

<div class="h-16"></div>
<p>Sull'orlo dell'oceano, dove il cielo si tuffa,</p>
<p>Un mondo di meraviglia si apre, senza grida o zuffa.</p>
<p>Danzano le onde al ritmo del vento,</p>
<p>In un eterno abbraccio, un dolce fermento.</p>
<div class="h-4"></div>
<p>Il mare, con la sua vastità senza fine,</p>
<p>Scintilla d'incanto, come gemma divine.</p>
<p>Le creature marine, in danza sotto il blu,</p>
<p>Raccontano segreti, antichi come l'azzurro.</p>
<div class="h-4"></div>
<p>Sotto il sole, la sabbia dorata si scalda,</p>
<p>Un incanto di colori, dove la mente si calma.</p>
<p>I gabbiani danzano nell'aria serena,</p>
<p>Tra le risacche e le rocce, la natura è regina.</p>
<div class="h-4"></div>
<p>In questo regno di meraviglia e splendore,</p>
<p>Ogni onda, ogni granello di sabbia è un amore.</p>
<p>L'oceano canta una canzone senza fine,</p>
<p>E nell'abbraccio della natura, il cuore trova il suo confine.</p>
<div class="h-4"></div>
<p>Così inebriati dalla bellezza del mondo,</p>
<p>Ci avventuriamo, come viandanti senza tondo.</p>
<p>Nel mistero e nell'ammirazione, ci immergiamo,</p>
<p>Nell'oceano infinito, i nostri sogni piantiamo.</p>