<footer class="bg-fuchsia-950 text-stone-100 p-4">
  <div class="container flex justify-between mx-auto">
    <small>Blog 24 brought to you with ❤️</small>
    <nav>
      <ul class="flex gap-2">
        <li><%= link_to 'About', '#' %></li>
        <li><%= link_to 'Contact', '#' %></li>
        <li><%= link_to 'News', '#' %></li>
      </ul>
    </nav>
  </div>
</footer>