<header class="fixed w-full bg-fuchsia-200 p-4 top-0">
  <div class="container flex justify-between mx-auto">
    <%= link_to "Blog 24" , '#' , id: "logo" %>
      <nav>
        <ul class="list-none flex gap-2">
          <li>
            <%= link_to "Home" , '#' %>
          </li>
          <li>
            <%= link_to "Help" , '#' %>
          </li>
          <li>
            <%= link_to "Login" , '#' %>
          </li>
        </ul>
      </nav>
  </div>
</header>