<header class="fixed w-full bg-fuchsia-200 p-4 top-0">
  <div class="container flex justify-between mx-auto">
    <%= link_to "Blog 24" , root_path, id: "logo" %>
      <nav>
        <ul class="list-none flex gap-2">
          <li>
            <%= link_to "Home" , root_path %>
          </li>
          <li>
            <%= link_to "Help" , help_path %>
          </li>
          <li>
            <%= link_to "Login" , login_path %>
          </li>
        </ul>
      </nav>
  </div>
</header>